<mat-toolbar color="primary">
  <button mat-icon-button class="navbar-icon home-icon" aria-label="icon-button with checklist icon">
    <mat-icon>checklist</mat-icon>
  </button>
  <span>Scotia ToDo App</span>
  <span class="navbar-spacer"></span>
  <button mat-icon-button class="navbar-icon favorite-icon" aria-label="icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="navbar-icon" aria-label="icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
