:host .mat-form-field {
  width: 100%;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  min-height: 150px;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box-btn {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

.box-title {
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: mediumspringgreen;
  color: primary;
  border-radius: 4px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  span {
    font-weight: normal;
  }
}

.container-todo-form {
  background-color: rgb(25, 25, 25);
  height: fit-content;
  display: flex;
  justify-content: center;
  height: 95vh;
}

.todo-form {
  background-color: #525252;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 380px;
  border-radius: 4px;
}

.mat-mdc-card {
  width: 100%;
  max-width: 380px;
  height: fit-content;
}

.mat-mdc-form-field {
  width: 100%;
}

